@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root{
    --headerHeight: 80px;
}


$headerColor: #269962;

$sideBarWidth: 250px;
$spacing: 30px;

html, body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner{
        min-width: 300px;

        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #cecece;
            margin-bottom: 20px;
        }
    }
}

.layout{
    width: 100%;

    .header{
        background-color: $headerColor;
        height: var(--headerHeight);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $spacing;

        .brand{
            width: $sideBarWidth;
        }

        .rightNav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;

            .rightItem{
                display: flex;
                align-items: center;
            }
        }

        .text{
            color: white;
        }
    }
}

.userAvatar{
    display: flex;
    align-items: center;
    img{
        margin-right: 5px;
    }
}

.logoutButton{
    background-color: darken($headerColor, 40%);
    padding: 7px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.bodyHolder{
    width: 100%;
    min-height: calc(100vh - var(--headerHeight));
    display: flex;
    background-color: #E5E5E5;
}

.sideBar{
    width: $sideBarWidth;
    background-color: white;

    ul{
        margin: 50px 0 0 $spacing;
        padding: 0;
        list-style: none;

        li{
            display: flex;
            align-items: center;
            svg {
                margin-right: 10px;
                path{
                    fill: darken(white, 40%);
                }
            }
            margin-bottom: $spacing;
            cursor: pointer;
            color: darken(white, 40%);

            &.active{
                color: black;

                svg{
                    path{
                        fill: black
                    }
                }
            }
        }


    }
}

.mainContent{
    max-height: calc(100vh - var(--headerHeight));
    overflow: hidden;
    overflow-y: auto;
    flex: 1;
    padding: $spacing;
}

.card{
    background-color: white;
    border-radius: 4px;
    padding: 20px;

    .cardHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rightContent{
            display: flex;
            align-items: center;

            button{
                margin-left: 10px;
            }
        }
    }
}

.headContent{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.imageView{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin: 0 auto;
}

.helperNote{
    color: red;
}

.newInvoiceButton{
    background-color: white;
    padding: 7px 20px;
    border-radius: 4px;
    margin-right: 10px;
    color: black !important;
}

.invoice-creation{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 2em;
}


.contentContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
     
    .info{
        font-size: 12px;
        color: #757575;
    }
}

.summaryContainer{
    display: flex;
    align-items: center;

    .summaryContent{
        width: 100%;
        margin-right: 2em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .info{
            font-size: 12px;
            color: darken(white, 40%);
        }

        .count{
            font-size: 20px;
            font-weight: bold;
            color: black;
        }

        &:last-child{
            margin-right: 0;
        }

        .icon{
            .inventory{
                path{
                    fill: #269962;
                }
            }
            .group{
                path{
                    fill: #265299;
                }
            }
            .shop{
                path{
                    fill: #da631e;
                }
            }
            .user{
                path{
                    fill: #269999;
                }
            }
        }
    }
}

.dashboard-ui-st{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
}

.topSellContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1em;

    .topSellItem{
        background-color: darken(white, 10%);
        margin-bottom: 10px;
        width: 100%;


        .imageCon{
            height: 70px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: darken(white, 20%);

            img{
                height: 100%;
            }
        }
    }
}

.puchases{
    .title{
        font-size: 20px;
        font-weight: bold;
    }

    .info{
        font-size: 12px;
        color: #757575;
    }
}

.pieUI{
    max-width: 300px;
    margin: 0 auto;
}